{% extends "base/template-recibo.html" %}
{% block title %} Recibo {% endblock %}
{% block content %}

<!-- <table>
<tbody>
	<tr>
		<td>
			<table>
				<tbody>
					<tr>
						<td class="col-right">NOMBRE DE LA COMPAÑIA</td>
						<td>{{ recibo.emisor.nombre }}</td>
						<td></td>
						<td></td>
                    </tr>
	                <tr>
						<td class="col-right">RFC:</td>
						<td>{{ recibo.emisor.rfc }}</td>
						<td class="col-right">RECIBO:</td>
						<td></td>
                    </tr>
	                <tr>
						<td></td>
						<td>{{ recibo.emisor.calle }} {{ recibo.emisor.noExterior }}</td>
						<td class="col-right">Folio Fiscal:</td>
						<td>{{ recibo.timbre.UUID}}</td>
                    </tr>
                    <tr>
						<td></td>
						<td>{{ recibo.emisor.municipio }} {{ recibo.emisor.estado }} {{ recibo.emisor.codigoPostal}}
						</td>
						<td class="col-right">No de Serie del Certificado del CSD:</td>
						<td>{{ recibo.comprobante.noCertificado }}</td>
                    </tr>
	                <tr>
						<td class="col-right">LUGAR DE EXPEDICION:</td>
						<td>{{ recibo.comprobante.lugarExpedicion }}</td>
						<td class="col-right">Fecha y hora de emisión:</td>
						<td >{{ recibo.comprobante.fecha }}</td>
                    </tr>
                </tbody>
            </table>
            		<br>
                                     
                                 
                                  <table>
                                    <thead>
                                    </thead>
                                    <tbody>
                                      <tr >
                                        <td class="col-right">NO.EMPLEADO:</td>
                                        <td class="col-left"> {{ recibo.nomina.numEmpleado }}</td>
                                        <td class="col-right">NOMBRE:</td>
                                        <td class="col-left"> {{ recibo.receptor.nombre }}</td>
                                      </tr>
                                      <tr>
                                        <td class="col-right">RFC:</td>
                                        <td class="col-left"> {{ recibo.receptor.rfc }}</td>
                                        <td class="col-right">CURP:</td>
                                        <td class="col-left"> {{ recibo.nomina.curp }}</td>
                                      </tr>
                                      <tr>
                                        <td class="col-right">REG. PAT.:</td>
                                        <td class="col-left"> {{ recibo.nomina.registroPatronal }}</td>
                                        <td class="col-right">NO. AFILIACION IMSS:</td>
                                        <td class="col-left"> {{ recibo.nomina.numSeguridadSocial }}</td>
                                      </tr>
                                      <tr>
                                        <td class="col-right">PERIODO:</td>
                                        <td class="col-left">{{ recibo.comprobante.serie }}</td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <br>

                                <table>
                                 <thead>
                                  <tr>
                                    <th class="fondo">CONCEPTO</th>
                                    <th class="fondo" colspan="2">DESCRIPCION</th>
                                    <th class="fondo">PERCEPCIONES</th>
                                    <th class="fondo">DEDUCCIONES</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                      
                                     {% for con in recibo.percepcion %}
                                     <tr>
                                        <td class="col-left">{{ con.clave }}</td>
                                        <td class="col-left" colspan="2">{{ con.concepto }}</td>
                                        <td class="col-left">{{ con.importeGravado }}</td>
                                        <td class="col-left"></td>
                                     </tr>
                                      {%endfor%}

                                      {% for con in recibo.deduccion %}
                                     <tr>
                                        <td class="col-left">{{ con.clave }}</td>
                                        <td class="col-left" colspan="2">{{ con.concepto }}</td>
                                        <td class="col-left"></td>
                                        <td class="col-left">{{ con.importeExento }}</td>
                                     </tr>
                                      {%endfor%}
                                      <tr>
                                        <td class="col-right" colspan="3">TOTALES:</td>
                                        <td class="col-left">{{ recibo.comprobante.subTotal }}</td>
                                        <td class="col-left">{{ recibo.comprobante.descuento }}</td>
                                      </tr>
                                      <tr>
                                        <td class="col-right" colspan="3" >NETO PAGO:</td>
                                        <td colspan="2">$ {{ recibo.comprobante.total }}</td>
                                      </tr>
                                  </tbody>
                                </table>
                                <br>

                                <table>
                                 <thead>
                                  <tr>
                                    <th class="fondo">DIAS</th>
                                    <th class="fondo">TIPO</th>
                                    <th class="fondo">HORAS EXTRA</th>
                                    <th class="fondo">IMPORTE PAGADO</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                      
                                     {% for hrs in recibo.horas %}
                                     <tr>
                                        <td>{{ hrs.dias }}</td>
                                        <td>{{ hrs.tipoHoras }}</td>
                                        <td>{{ hrs.horasExtra }}</td>
                                        <td>{{ hrs.importePagado }}</td>
                                     </tr>
                                      {%endfor%}
                                  </tbody>
                                </table>
                                <br>

                                <table>
                                 <thead>
                                  <tr>
                                    <th class="fondo">DIAS</th>
                                    <th class="fondo">TIPO</th>
                                    <th class="fondo">DESCUENTO</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                      
                                     {% for hrs in recibo.incapacidad %}
                                     <tr>
	                                        <td>{{ hrs.diasIncapacidad }}</td>
	                                        <td>{{ hrs.tipoIncapacidad }}</td>
	                                        <td>{{ hrs.descuento }}</td>
                                     </tr>
                                      {%endfor%}
                                     <tr>
                                     	<td>SELLO</td>
                                     	<td colspan="2" class="cell" valign="middle">jjdddjjksdaaaaaaaaaaaaaaaasjkaudwiddduiwdwudddddddddddddddddddddddddwdhhhhhhhhhhhhjkhhhiuhhhhhhhhhhhhhhhhhud
                                     	hdiufdfffffffffffffffffffffffffffffidhfdiufhdiu
                                     	{{ recibo.timbre.selloCFD }}
                                     	</td>
                                     </tr>
                                  </tbody>
                                </table>
                                <br>
                                
                              </td>Fin de CFDI) 
                              <td>
                                
                              </td>Fin de CFDI  
                           </tr>
                        </tbody>
                      </table>


                       <div class="ajustar">
                        	<p>{{ recibo.timbre.selloCFD }}</p> 
                       </div>
                     <pdf:nextpage>
                     	<div id="footerContent">Recibo: <pdf:pagenumber> </div> -->
    <table>
         <thead>
          <tr>
            <th class="fondo">DIAS</th>
            <th class="fondo">TIPO</th>
            <th class="fondo">DESCUENTO</th>
          </tr>
          </thead>
          <tbody>
              
             {% for hrs in recibo.incapacidad %}
             <tr>
                    <td>{{ hrs.diasIncapacidad }}</td>
                    <td>{{ hrs.tipoIncapacidad }}</td>
                    <td>{{ hrs.descuento }}</td>
             </tr>
              {%endfor%}
             <tr>
             	<td>SELLO</td>
             	<td colspan="2" class="cell" style="overflow:hidden;">jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjldfllkkfdgjflkdjfhghgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</td>
             </tr>
          </tbody>
        </table>

{% endblock %}
